server {
        #implemented by default, change if you need different ip or port
        #listen *:80 | *:8000;
        server_name ${SEP_DOMAIN};
        rewrite ^/(.*)$ https://${NEW_DOMAIN}/$1 permanent;
}

